language: python

python:
  - "3.6"

install:
    - pip install -r requirements.txt
    - pip install pytest-cov
    - pip install codecov

before_script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd)

script:
    - py.test --cov=soepy
    - ./development/tests/run_pr_testing.py
    - ./run_sphinx_build.sh

after_success:
    - codecov

notifications:
  slack:
      rooms:
        - oseconomics:Ft0TAdn9N8R38vMieCPxHV0a
      on_success: never
      on_failure: never

  email: false

addons:
  apt_packages:
    - pandoc
