language: python

python:
  - "3.6"

# The tests run only if it is an PR or if a tag is pushed. This should prevent duplicate
# builds with pr and push. We cannot disable push as it also disables deployment via
# tags.
if: type != push OR tag IS present OR branch = master

install:
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - PATH="$HOME/miniconda/bin:$PATH"
  - conda env create -f environment.yml
  - source activate soepy

before_script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd)

script:
    # Test code quality.
    - pre-commit install -f --install-hooks
    - pre-commit run -a

    # Run test battery.
    - ./development/tests/run_pr_testing.py
    - python -c "import soepy; soepy.test()"
    
    # Monitoring code coverage, previous commands do not 
    # create a proper coverage report.
    - py.test

    # Test documentation.
    - cd doc; make html; cd ../..

    # Test tutorial simulations.
    - cd doc/tutorial; python simulate.py; cd ../..

after_success:
    - codecov

notifications:
  slack:
      rooms:
        - oseconomics:Ft0TAdn9N8R38vMieCPxHV0a
      on_success: never
      on_failure: never

  email: false
