language: python

python:
  - "3.6"

install:
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - PATH="$HOME/miniconda/bin:$PATH"
  - conda env create -f environment.yml
  - source activate soepy

before_script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd)

script:
    - py.test --cov=soepy
    - ./development/tests/run_pr_testing.py
    - ./run_sphinx_build.sh
    - python -c "import soepy; soepy.test()"
    - conda install -c boryana-ilieva soepy

after_success:
    - codecov

notifications:
  slack:
      rooms:
        - oseconomics:Ft0TAdn9N8R38vMieCPxHV0a
      on_success: never
      on_failure: never

  email: false